.ctl {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    color: darkslategray;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

table[__subtable] td {
    border: none;
}

table[__subtable] td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    background: linen;
}

td[__header='1'] {
    background: lightgray;
}

table[__subtable] td[__header='1'] {
    background: lightgray;
}

img.del {
    background: url( '../img/delete.png' ) no-repeat center;
    height: 20px;
    width: 24px;
    cursor: pointer;
    vertical-align: bottom;
    border: none;
}

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: url("https://raw.githubusercontent.com/ellsworth-vinson/english/master/img/loading.gif") no-repeat center center rgba(255, 255, 255, 0.25)
}